@font-face {
    font-family: 'icomoon' !important;
    src: url('./fonts/icomoon.eot');
    src: url('./fonts/icomoon.eot') format('embedded-opentype'), url('./fonts/icomoon.woff') format('woff'), url('./fonts/icomoon.ttf') format('truetype'), url('./fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    color: #fff;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
    content: "\e942";
}

.icon-user:before {
    content: "\e971";
}

.icon-users:before {
    content: "\e972";
}

.icon-binoculars:before {
    content: "\e985";
}

.icon-equalizer:before {
    content: "\e992";
}